.row {
  padding-top: 20px;
}

.thumbnail img {
  max-height: 150px;
} 

.img-thumbnail .description {
  color: darkslategrey;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

.img-fluid {
  margin-left: 50%;
  transform: translateX(-50%);
}

